<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>
<div th:replace="admin/header :: navbar"></div>
<br>
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card" style="width: 100%">
            <div class="card-header">
                <h2 class="text-center">Create Post</h2>
            </div>
            <div class="card-body">
                <form role="form" method="post" th:action="@{/admin/posts}" th:object="${newPost}">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                placeholder="Enter Post Title Here"
                                name="title"
                                th:field="*{title}">
                        <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Post Description</label>
                        <textarea
                                class="form-control"
                                id="postDescription"
                                placeholder="Enter Post Description Here"
                                rows="3" name="postDescription"
                                th:field="*{description}">
                        </textarea>
                        <p th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></p>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Post Content</label>
                        <textarea
                                class="form-control"
                                id="content"
                                placeholder="Enter Post contents Here"
                                rows="10" name="postContent"
                                th:field="*{content}">
                        </textarea>
                        <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div th:replace="admin/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/35.3.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#content' ) )
        .then( editor => {
            console.log( editor );
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
</body>
</html>