<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="admin/header :: header"></div>
<body>
<div th:replace="admin/header :: navbar"></div>
    <div class="container">
        <div class="row col-md-8">
            <h1 style="text-align: center">List Of Blog Posts</h1>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <form class="form-inline" th:action="@{/admin/posts/search}">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Search</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-success">
            <th style="width: 10%">S/N</th>
            <th style="width: 20%">Post Title</th>
            <th style="width: 30%">Post Description</th>
            <th style="width: 20%">Post Created Date</th>
            <th style="width: 20%">Post Actions</th>
            </thead>
            <tbody>
                <tr th:each = "post, postStart : ${postList}">
                    <td th:text="${postStart.count}">1</td>
                    <td th:text="${post.title}">Post Title</td>
                    <td th:text="${post.description}">Post Description</td>
                    <td th:text="${#temporals.format(post.getCreatedAt, 'dd MMM yyyy')}">Post Created Date</td>
                    <td>
                        <a th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}" class="btn btn-primary">Edit</a>
                        <a th:href="@{/admin/posts/{postId}/delete(postId=${post.id})}" class="btn btn-danger">Delete</a>
                        <a th:href="@{/admin/posts/{postUrl}/view(postUrl=${post.url})}" class="btn btn-info">View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
<div th:replace="admin/footer :: footer"></div>
</body>
</html>